*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
    line-height: 50px;
    font-size: 20px;
}

.meals{
    max-width: 1280px;
    margin: 0 auto;
    padding:4px;
    background: white;
    text-align: center;

}
.meal-search{
    margin: 10px 0;
}
.meal-search-box{
    display:flex;
    
}
.search-btn-btn{
    width: 150px;
    padding: 20px;
    font-size: 30px;
}
.search-btn-btn:hover{
    background-color: crimson;
}
.search-content{
    width:100%;
   margin:10px;
    font-size: 20px;
}
#meal-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.meal-result{
    margin-top:30px;

}

.meal-item{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 21px  dimgray;
    margin: 0 10px;
    
}


.meals-image{
    width:200px;
    height: 200px;
}
#meals-details{
    border:1 px solid red;

}